:root {
    --dark: rgba(26, 28, 51);
    --ltblue: rgb(92, 181, 195);
    --accent: rgb(214, 214, 138);
}

body {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Optima", "Candara", "Noto Sans", sans-serif;
    font-size: 18px;
    color: var(--dark);
}

/*Header and nav styling*/
header {
    height: 18.75rem;
    width: 100%;
    background-color: var(--ltblue); 
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 160%;
}

header img {
    width: 18.75rem;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 25px 20px;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    font-size: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 55%;
    padding: 10px;
}

/*Styling for main elements of page*/
main {
    display: flex;
    flex-direction: column;
    color: var(--ltblue);
    border-top: 5px solid var(--accent);
}

h3 {
    font-size: 150%;
    flex: 0 0 20%;
    border-right: solid 1px var(--ltblue);
}

section {
    display: flex;
    background-color: var(--dark);
    padding: 20px;
}

p {
    padding: 20px;
}

/*Container for all projects*/
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Top project that appears larger than others*/
.top-card {
    width: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

/*Other projects*/
.card {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 350px;
    flex: 0 0 45%;
    margin: 10px;
    max-width: 475px;
    
}

/*Styling for both project types*/
.top-card a,
.card a {
    display: flex;
}

.top-card img,
.card img {
    opacity: 0.5;
    border: 5px solid var(--ltblue);
    width: 100%;

}

/*Style for title texts*/
.card p,
.top-card p {
    position: absolute;
    color: var(--ltblue);
    background-color: var(--dark);
    padding: 10px;
    font-weight: bold;
    border: 1px solid var(--accent);
}

/*Designs on hover*/
.top-card img:hover,
.card img:hover {
    opacity:1;
    border: 5px solid var(--accent);
}

a:any-link:hover {
    color: var(--accent);
}

/* Override text color for Github link */
section li a {
    color: var(--ltblue);
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--ltblue);
    border-top: 5px solid var(--accent);
    padding: 20px;
    font-size: 110%;
}

h4 {
    font-size: 110%;
}

@media screen and (max-width: 992px) {
    .intro {
        flex: 0 0 45%;
    }

    .project-cards {
        align-items: center;
    }

    .card {
        flex: 1 0 100%;
        max-width: 450px;
    }

}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: 600px;
        align-items: center;
    }

    .intro {
        flex: 0 0 25%;
        padding: 0 5px 0 5px;
        justify-items: center;
        align-items: center;
    }

    nav {
        width: 100%;
        
    }

    nav ul li {
        flex-direction: row;
        width: 100%;
        padding: 10px;
    }

    .project-cards {
        align-content: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: 450px;
       }
}