:root {
    --dark: rgb(13, 13, 71);
    --ltblue: rgb(92, 181, 195);

}

body {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-size: 18px;
    color: var(--dark);
}

header {
    height: 300px;
    width: 100%;
    background-color: var(--ltblue); 
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 160%;
}

.intro {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

header img {
    height: 300px;
    width: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    
}

li {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 20px; 
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: var(--dk-text);
    font-weight: bold;
    flex: 0 0 33%;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--ltblue);
}

main h2 {
    flex: 0 0 25%;
    border-right: solid 1px var(--ltblue);
}

section {
    display: flex;
    background-color: var(--dark);
    padding: 20px;
}

p {
    padding: 20px;
}



.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: solid 1px;
    justify-content: center;
    width: 450px;
    height: 450px;
    width: 50%;
    flex: 1 0 auto;
}

.card a {
    display: flex;
}

.card img {
    width: 45%;
    position: relative;
    flex: 0 0 100%; 
    max-width: 450px;
}
.card p {
    position: absolute;
    color: var(--ltblue);
    background-color: var(--dark);
    text-decoration: none;
    margin: 10rem -7rem 0rem 3rem;



}

/*

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Border and size for all images
.projects img {
   /* flex: 0 0 25%;
    width: 45%; 
    border: 5px solid var(--ltblue);
    margin: 5px;
}

.first-project,
.new-project {
    display: flex;
    justify-content: center;
    position: relative;
}

.first-project img {
    width: 100%;
    flex: 1 0 auto;
}

.new-project img {
    width: 45%;
}

.first-project p,
.new-project p {
    position: absolute;
    background-color: var(--dark);
    color: var(--ltblue);
    font-weight: bold;
}

.first-project p {
    margin-top: 61%;
    margin-right: 73%;
    font-size: 1.2vw;
}

.new-project p {
    margin-top: 61%;
    margin-right: 73%;
    font-size: 1.2vw;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid;
}

.projects a {
    display: flex;
}

.first-project {
    flex: 1 0 auto;
    padding: 30px;
    width: 100%;
    max-width: 83%;
    margin-left: 20px;
    
}

.first-project:hover {
    content: 'Landing Page';
    box-shadow: 0 0 2px var(--ltblue);
    opacity: 0.5;
}

.new-project {
    max-width: 50%;
    max-height: 200px;
    width: 33%;
    margin: 5px;
    padding: 5px;
    
    
}
*/




#myWork {

}

@media screen and (max-width: 992px) {
    .intro {
        flex: 0 0 45%;
    }

}

@media screen and (max-width: 768px) {
   .card {
    width: 100%;
   }
    header {
        flex-direction: column;
        height: 600px;
        align-items: center;
    }

    .intro {
        flex: 0 0 25%;
        padding: 0 5px 0 5px;
        justify-items: center;
        align-items: center;
    }

    li {
        flex-direction: row;
        width: 100%;
        padding: 10px;
    }
    
    nav {
        width: 100%;
        
    }

    ul {
        width: 100%;
        
    }
    
}