:root {
    --dark: rgb(13, 13, 71);
    --ltblue: rgb(92, 181, 195);
}

body {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-size: 18px;
    color: var(--dark);
}

header {
    height: 300px;
    width: 100%;
    background-color: var(--ltblue); 
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 160%;
}

header img {
    height: 300px;
    width: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    
}

li {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 20px; 
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: var(--dk-text);
    font-weight: bold;
    flex: 0 0 33%;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--ltblue);
}

main h2 {
    flex: 0 0 25%;
    border-right: solid 1px var(--ltblue);
}

section {
    display: flex;
    background-color: var(--dark);
    padding: 20px;
}

p {
    padding: 20px;
}

.intro {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
/*Styling for each project*/
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-card {
    width: 100%;
    padding: 50px;
    position: relative;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: solid 1px;
    justify-content: center;
    height: 450px;
    width: 50%;
    flex: 0 0 450px;
    align-items: center;
}

.top-card a,
.card a {
    display: flex;
}

.top-card img,
.card img {
    width: 100%;
    position: relative;
    flex: 0 0 100%; 
    max-width: 100%;
    border: 5px solid var(--ltblue);
    height: 300px;
    opacity: 0.5;
}
.card p,
.top-card p {
    position: absolute;
    color: var(--ltblue);
    background-color: var(--dark);
    text-decoration: none;
}

/*Positioning for title text*/
.top-card p {
    margin: -6rem 0rem 0rem 2rem;
}

.card p {
    margin: 10rem -7rem 0rem 3rem;
}

.top-card img:hover {
    opacity:1;
}
.card img:hover {
    opacity: 1;
}

@media screen and (max-width: 992px) {
    .intro {
        flex: 0 0 45%;
    }

    .card {
        
    }

}

@media screen and (max-width: 768px) {
   .card {
    width: 100%;
   }
    header {
        flex-direction: column;
        height: 600px;
        align-items: center;
    }

    .intro {
        flex: 0 0 25%;
        padding: 0 5px 0 5px;
        justify-items: center;
        align-items: center;
    }

    li {
        flex-direction: row;
        width: 100%;
        padding: 10px;
    }
    
    nav {
        width: 100%;
        
    }

    ul {
        width: 100%;
        
    }
    
}